.bm-burger-button {
  position: absolute;
  width: 36px;
  height: 30px;
  right: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #FFF;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #171837;
}

/* General sidebar styles */
.bm-menu {
  background: #fff;
  padding: 1em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.menu-item {
  font-size: 20px;
  font-family: 'Julius Sans One', sans-serif;
  color: #fff;
  font-weight: 400;
}
.nav-header img {
  height: 75px;
  width: auto;
}
.nav-header h3 {
  font-family: 'Julius Sans One', sans-serif;
  color: #fff;
  font-weight: 400;
  margin-bottom: 15%;
  font-size: 2em;
}
.nav-header h5{
  color: #fff;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight:200;
  font-size: 16px;
}

h5 {
  color: #171837;
}

a:hover {
  color: white;
  text-decoration: none;
}