.homeWrap {
	background-color: #171837;
	min-height:100vh;
}
#hero {
	background-color: #7571ff;
	color:#fff;
	text-align: center;
	background: url("/assets/images/background.png") no-repeat bottom;
	background-size: cover;
	min-height: 485px;
}
h1 {
	font-size: 2em;
}
#hero h4 {
	color: #fff;
}
.home-btn-wrap {
	padding-top: 3%;
}
#hero>.content {
	padding-top: 6%;
}
.btns {
	border:1px solid #FFF;
}