.historypanel {
  margin-top: -112px;
  color: #171837;
  font-weight: 200;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.historypic {
  height: 225px;
  width: 225px;
  margin-bottom: 25px;
  border: 8px solid white;
  background: white;
}

.historyheader {
  margin: -80px 0 40px 0;
}

.headertips, .headeractive {
  font-size: 16px;
  font-weight: 200;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  text-transform: uppercase;
}

.headertipsnum {
  color: #23d3ac;
  font-size: 32px !important;
  font-weight: 200;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;;
}

.headeractivenum {
  color: #7571ff;
  font-size: 32px !important;
  font-weight: 200;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
}

.hpanel {
  background: #f4f4f4;
  padding: 10px 0;
  border: 1px solid #a1a1a1 !important;
  margin-bottom: 0 !important;
  border-radius: 5px;
  
}
.hpanel:first-of-type {
  border-bottom: 0 !important;
}

.hpanelpic {
  height: 125px;
  width: 125px;
  margin-left: 13px;
}

.hpaneltext {
  color: #171837;
  font-weight: 200;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.hpanelrecname, .hpanelreclocation {
  font-size: 24px;
  padding: 10px 0;
}

.hpanelstatus {
  font-size: 18px;
  padding-top: 5px;
}

.hpanelanon {
  color: #7571ff;
  font-size: 14px;
  padding: 7px 0;
}