.locationname {
  color: #171837;
  font-family: 'Fjalla One', sans-serif;
  font-size: 30px;
  text-align: center;
}

.locationaddress {
  color: #171837;
  font-family: 'Fjalla One', sans-serif;
  font-size: 22px;
  text-align: center;
}

.hr {
  color: #23d3ac;
  border-top: 1px solid #23d3ac
}