.locationname {
  color: #171837;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1.8em;
  text-align: center;
  font-weight: 300;
}

.locationaddress {
  text-align: center;
  margin-top: 0;
  font-size: 1em;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #171837;
  text-align: center;
  width: auto;
  font-weight: 200;
  text-transform: lowercase;
}

.hr {
  color: #23d3ac;
  border-top: 1px solid #23d3ac
}

#roster {
  min-height: 150px;
}

.MuiPaper-shadow2-96 {
  box-shadow: none !important;
}