.banner {
  background: #7571ff;
  padding-bottom: 150px;
}

.logo {
  height: 125px;
  width: 125px;
}

.bannerwelcome {
  font-size: 1.8em;
  font-family: 'Quicksand', sans-serif;
  color: #fff;
  text-align: center;
  width: auto;
  margin-top: 0px;
}

.bannerintro {
  font-size: 2em;
  font-family: 'Fjalla One', sans-serif;
  color: #171837;
  text-align: center;
  width: auto;
  font-weight: 200;
  text-transform: uppercase;
}

.bannernologo {
  font-size: 36px;
  font-family: 'Fjalla One', sans-serif;
  color: #171837;
  text-align: center;
  width: auto;
}